* {
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-color: hsl(240, 78%, 98%);
  color: hsl(233, 13%, 49%);
  text-align: center;
}
.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1440px) { /* Desktop */
  .container {
    width: 1400px;
  }
}
@media (max-width: 375px) { /* Mobile screen */
  .container {
    width: 90%;
  }
}

/*
- Linear Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%)
- Very Light Grayish Blue: hsl(240, 78%, 98%)
- Light Grayish Blue: hsl(234, 14%, 74%)
- Grayish Blue: hsl(233, 13%, 49%)
- Dark Grayish Blue: hsl(232, 13%, 33%)
*/